<h1>Online Survey</h1>

<!--

<tt>value1 = {{checkboxModel.value1}}</tt><br/>
<tt>value2 = {{checkboxModel.value2}}</tt><br/>
<tt>value2 = {{checkboxModel.value3}}</tt><br/>
<tt>value2 = {{checkboxModel.value4}}</tt><br/>
<tt>value2 = {{checkboxModel.value5}}</tt><br/>
<tt>value2 = {{checkboxModel.value6}}</tt><br/>
<tt>value2 = {{checkboxModel.value7}}</tt><br/>

<tt>value1 = {{checkboxModelPage2.value1}}</tt><br/>
<tt>value2 = {{checkboxModelPage2.value2}}</tt><br/>
<tt>value2 = {{checkboxModelPage2.value3}}</tt><br/>
<tt>value2 = {{checkboxModelPage2.value4}}</tt><br/>
<tt>value2 = {{checkboxModelPage2.value5}}</tt><br/>
<tt>value2 = {{checkboxModelPage2.value6}}</tt><br/>
<tt>value2 = {{checkboxModelPage2.value7}}</tt><br/>

<tt>count = {{countTrues(checkboxModel)}}</tt><br/>
<tt>count = {{countTrues(checkboxModelPage2)}}</tt><br/>

-->
