<h1>Program Interest Survey</h1>


<tt>count1 = {{countTrues(checkboxModelPage1)}}</tt><br/>
<tt>count2 = {{countTrues(checkboxModelPage2)}}</tt><br/>
<tt>count3 = {{countTrues(checkboxModelPage3)}}</tt><br/>
<tt>count4 = {{countTrues(checkboxModelPage4)}}</tt><br/>
<tt>count5 = {{countTrues(checkboxModelPage5)}}</tt><br/>
<tt>count6 = {{countTrues(checkboxModelPage6)}}</tt><br/>
<tt>count7 = {{countTrues(checkboxModelPage7)}}</tt><br/>
<tt>count8 = {{countTrues(checkboxModelPage8)}}</tt><br/>
<tt>count9 = {{countTrues(checkboxModelPage9)}}</tt><br/>
<tt>count10 = {{countTrues(checkboxModelPage10)}}</tt><br/>
<tt>count11 = {{countTrues(checkboxModelPage11)}}</tt><br/>
