<h2 class="animated slideInUp">Page1!</h2>




<div class="row">
	<div class="six columns">
		<label class="option1">
			<input type="checkbox" ng-model="checkboxModel.value1">
			<span class="label-body">Care about people, their needs, and their problems.</span>
		</label>
		<label class="option2">
			<input type="checkbox" ng-model="checkboxModel.value2">
			<span class="label-body">Make decisions based on logic and information.</span>
		</label>
		<label class="option3">
			<input type="checkbox" ng-model="checkboxModel.value3">
			<span class="label-body">Work as a member of a team.</span>
		</label>
		<label class="option3">
			<input type="checkbox" ng-model="checkboxModel.value4">
			<span class="label-body">Adapt to change/perform a variety of duties that may change.</span>
		</label>
		<label class="option3">
			<input type="checkbox" ng-model="checkboxModel.value5">
			<span class="label-body">Interact with all ages and types of people.</span>
		</label>
		<label class="option3">
			<input type="checkbox" ng-model="checkboxModel.value6">
			<span class="label-body">Analyze information and process paperwork.</span>
		</label>
		<label class="option3">
			<input type="checkbox" ng-model="checkboxModel.value7">
			<span class="label-body">Follow guidelines precisely and meet strict standards of accuracy.</span>
		</label>
	</div>
	<div class="three columns">
		<label class="option1">
			<input type="checkbox">
			<span class="label-body">Follow directions</span>
		</label>
		<label class="option2">
			<input type="checkbox">
			<span class="label-body">Compassionate/Caring</span>
		</label>
		<label class="option3">
			<input type="checkbox">
			<span class="label-body">Good listener</span>
		</label>
		<label class="option3">
			<input type="checkbox">
			<span class="label-body">Problem solver</span>
		</label>
		<label class="option3">
			<input type="checkbox">
			<span class="label-body">Detail oriented</span>
		</label>
	</div>
	<div class="three columns">
		<label class="option1">
			<input type="checkbox">
			<span class="label-body">Medical</span>
		</label>
		<label class="option2">
			<input type="checkbox">
			<span class="label-body">Computers</span>
		</label>
		<label class="option3">
			<input type="checkbox">
			<span class="label-body">Health</span>
		</label>
		<label class="option3">
			<input type="checkbox">
			<span class="label-body">Psychology/Sociology</span>
		</label>
		<label class="option3">
			<input type="checkbox">
			<span class="label-body">Business</span>
		</label>
	</div>
</div>
</form>
Back<a ui-sref="page2">Next</a>