<h2 class="animated slideInUp">Results!</h2>

<tt>countPage1 = {{countTrues(checkboxModel)}}</tt><br/>
<tt>countPage2 = {{countTrues(checkboxModelPage2)}}</tt><br/>
<tt>programs = {{programs}}</tt>


<div class="row">
	<div class="twelve columns">
		<h4><strong>Program 1</strong> - qwuh qwiudh qiwudh wqiudhiuhfs kjfsaifduhw dk oiwqjd j laijd liwqjdwqd</h4>
		<h4><strong>Program 2</strong> - Qfoijdf dsflkjsa dlajd wqlidj salidj lwijd laijd alijd lsajd lskdjiwjd la</h4>
		<h4><strong>Program 3</strong> - Wdoidijdja doiasj doiw jdoija dlkj fdliaw jdlksajd liwaj dlkajd lawld</h4>
	</div>	
</div>

<a ui-sref="page2">Back</a><a ui-sref="page4">Next</a>