<div class="items">
<h2 class="done" aria-hidden="true">Activities that describe me</h2>

    <input id="item1" type="checkbox" ng-model="checkboxModelPage2.value1">
    <label for="item1">Enjoy working with numbers</label>

    <input id="item2" type="checkbox" ng-model="checkboxModelPage2.value2">
    <label for="item2">Follow logical, step-by-step procedures</label>

    <input id="item3" type="checkbox" ng-model="checkboxModelPage2.value3">
    <label for="item3">Have a framework of rules by which to operate</label>

    <input id="item4" type="checkbox" ng-model="checkboxModelPage2.value4">
    <label for="item4">Maintain focus easily for a long time</label>

    <input id="item5" type="checkbox" ng-model="checkboxModelPage2.value5">
    <label for="item5">Handle money with accuracy and reliability</label>

    <input id="item6" type="checkbox" ng-model="checkboxModelPage2.value6">
    <label for="item6">Like solving puzzles/problems</label>

    <input id="item7" type="checkbox" ng-model="checkboxModelPage2.value7">
    <label for="item7">Enjoy working alone</label>

<h2 class="undone" aria-hidden="true">Qualities that describe me</h2>

    <input id="item8" type="checkbox" ng-model="checkboxModelPage2.value8">
    <label for="item8">Trustworthy/Ethical</label>

    <input id="item9" type="checkbox" ng-model="checkboxModelPage2.value9">
    <label for="item9">Analytical skills</label>

    <input id="item10" type="checkbox" ng-model="checkboxModelPage2.value10">
    <label for="item10">Efficient</label>

    <input id="item11" type="checkbox" ng-model="checkboxModelPage2.value11">
    <label for="item11">Logical</label>

    <input id="item12" type="checkbox" ng-model="checkboxModelPage2.value12">
    <label for="item12">Methodical</label>

 <h2 class="undone" aria-hidden="true">Topics enjoyed in school</h2>

    <input id="item13" type="checkbox" ng-model="checkboxModelPage2.value13">
    <label for="item13">Accounting</label>

    <input id="item14" type="checkbox" ng-model="checkboxModelPage2.value14">
    <label for="item14">Math</label>

    <input id="item15" type="checkbox" ng-model="checkboxModelPage2.value15">
    <label for="item15">Economics</label>

    <input id="item16" type="checkbox" ng-model="checkboxModelPage2.value16">
    <label for="item16">Finance</label>

    <input id="item17" type="checkbox" ng-model="checkboxModelPage2.value17">
    <label for="item17">Person Finance</label>
</div>

<a ui-sref="page3" class="button">Next</a>
