<div class="items">
<h2 class="done" aria-hidden="true">Activities that describe me</h2>

    <input id="item1" type="checkbox" ng-model="checkboxModelPage7.value1">
    <label for="item1">Determine how things work</label>

    <input id="item2" type="checkbox" ng-model="checkboxModelPage7.value2">
    <label for="item2">Understand and follow instructions</label>

    <input id="item3" type="checkbox" ng-model="checkboxModelPage7.value3">
    <label for="item3">Perform detailed work that requires precision</label>

    <input id="item4" type="checkbox" ng-model="checkboxModelPage7.value4">
    <label for="item4">Working with computers</label>

    <input id="item5" type="checkbox" ng-model="checkboxModelPage7.value5">
    <label for="item5">Can visualize solutions to problems</label>

    <input id="item6" type="checkbox" ng-model="checkboxModelPage7.value6">
    <label for="item6">Use hands to operate equipment</label>

    <input id="item7" type="checkbox" ng-model="checkboxModelPage7.value7">
    <label for="item7">Like solving puzzles/problems</label>

<h2 class="undone" aria-hidden="true">Qualities that describe me</h2>

    <input id="item8" type="checkbox" ng-model="checkboxModelPage7.value8">
    <label for="item8">Detail Oriented</label>

    <input id="item9" type="checkbox" ng-model="checkboxModelPage7.value9">
    <label for="item9">Critical Thinking</label>

    <input id="item10" type="checkbox" ng-model="checkboxModelPage7.value10">
    <label for="item10">Logical</label>

    <input id="item11" type="checkbox" ng-model="checkboxModelPage7.value11">
    <label for="item11">Mechanically Inclined</label>

    <input id="item12" type="checkbox" ng-model="checkboxModelPage7.value12">
    <label for="item12">Practical</label>

 <h2 class="undone" aria-hidden="true">Topics enjoyed in school</h2>

    <input id="item13" type="checkbox" ng-model="checkboxModelPage7.value13">
    <label for="item13">Math</label>

    <input id="item14" type="checkbox" ng-model="checkboxModelPage7.value14">
    <label for="item14">Science</label>

    <input id="item15" type="checkbox" ng-model="checkboxModelPage7.value15">
    <label for="item15">Computers</label>

    <input id="item16" type="checkbox" ng-model="checkboxModelPage7.value16">
    <label for="item16">Computer-aided Drafting</label>

    <input id="item17" type="checkbox" ng-model="checkboxModelPage7.value17">
    <label for="item17">Technology Classes</label>
</div>

<a ui-sref="page8" class="button">Next</a>
