<div class="items">
<h2 class="done" aria-hidden="true">Activities that describe me</h2>

    <input id="item1" type="checkbox" ng-model="checkboxModelPage6.value1">
    <label for="item1">Concerned with the needs of others</label>

    <input id="item2" type="checkbox" ng-model="checkboxModelPage6.value2">
    <label for="item2">Learn new technology</label>

    <input id="item3" type="checkbox" ng-model="checkboxModelPage6.value3">
    <label for="item3">Use hands to operate equipment</label>

    <input id="item4" type="checkbox" ng-model="checkboxModelPage6.value4">
    <label for="item4">Enjoy engaging all ages &amp; types of people</label>

    <input id="item5" type="checkbox" ng-model="checkboxModelPage6.value5">
    <label for="item5">Seek knowledge of head or science</label>

    <input id="item6" type="checkbox" ng-model="checkboxModelPage6.value6">
    <label for="item6">Be busy and multi-task</label>

    <input id="item7" type="checkbox" ng-model="checkboxModelPage6.value7">
    <label for="item7">Solve problems through logic &amp; info</label>

<h2 class="undone" aria-hidden="true">Qualities that describe me</h2>

    <input id="item8" type="checkbox" ng-model="checkboxModelPage6.value8">
    <label for="item8">Patient</label>

    <input id="item9" type="checkbox" ng-model="checkboxModelPage6.value9">
    <label for="item9">Compassionate/Caring</label>

    <input id="item10" type="checkbox" ng-model="checkboxModelPage6.value10">
    <label for="item10">Coordinated</label>

    <input id="item11" type="checkbox" ng-model="checkboxModelPage6.value11">
    <label for="item11">Self-reliant</label>

    <input id="item12" type="checkbox" ng-model="checkboxModelPage6.value12">
    <label for="item12">Detail-oriented</label>

 <h2 class="undone" aria-hidden="true">Topics enjoyed in school</h2>

    <input id="item13" type="checkbox" ng-model="checkboxModelPage6.value13">
    <label for="item13">Medical</label>

    <input id="item14" type="checkbox" ng-model="checkboxModelPage6.value14">
    <label for="item14">Science</label>

    <input id="item15" type="checkbox" ng-model="checkboxModelPage6.value15">
    <label for="item15">Health</label>

    <input id="item16" type="checkbox" ng-model="checkboxModelPage6.value16">
    <label for="item16">Clinical classes</label>

    <input id="item17" type="checkbox" ng-model="checkboxModelPage6.value17">
    <label for="item17">Advanced Math/Physics</label>
</div>

<a ui-sref="page7" class="button">Next</a>
