<div class="items">
<h2 class="done" aria-hidden="true">Activities that describe me</h2>

    <input id="item1" type="checkbox" ng-model="checkboxModelPage11.value1">
    <label for="item1">Care about people, their needs, and their problems</label>

    <input id="item2" type="checkbox" ng-model="checkboxModelPage11.value2">
    <label for="item2">Handle several responsibilities at once</label>

    <input id="item3" type="checkbox" ng-model="checkboxModelPage11.value3">
    <label for="item3">Respond quickly and calmly in emergencies</label>

    <input id="item4" type="checkbox" ng-model="checkboxModelPage11.value4">
    <label for="item4">Work as a member of a team</label>

    <input id="item5" type="checkbox" ng-model="checkboxModelPage11.value5">
    <label for="item5">Hands-on work with all ages and types of people</label>

    <input id="item6" type="checkbox" ng-model="checkboxModelPage11.value6">
    <label for="item6">Help sick people and animals</label>

    <input id="item7" type="checkbox" ng-model="checkboxModelPage11.value7">
    <label for="item7">Follow guidelines precisely and meet strict standards of accuracy</label>

<h2 class="undone" aria-hidden="true">Qualities that describe me</h2>

    <input id="item8" type="checkbox" ng-model="checkboxModelPage11.value8">
    <label for="item8">Compassionate/Caring</label>

    <input id="item9" type="checkbox" ng-model="checkboxModelPage11.value9">
    <label for="item9">Task-oriented</label>

    <input id="item10" type="checkbox" ng-model="checkboxModelPage11.value10">
    <label for="item10">Good Listener</label>

    <input id="item11" type="checkbox" ng-model="checkboxModelPage11.value11">
    <label for="item11">Precise and accurate</label>

    <input id="item12" type="checkbox" ng-model="checkboxModelPage11.value12">
    <label for="item12">Reliable</label>

 <h2 class="undone" aria-hidden="true">Topics enjoyed in school</h2>

    <input id="item13" type="checkbox" ng-model="checkboxModelPage11.value13">
    <label for="item13">Medical</label>

    <input id="item14" type="checkbox" ng-model="checkboxModelPage11.value14">
    <label for="item14">Science</label>

    <input id="item15" type="checkbox" ng-model="checkboxModelPage11.value15">
    <label for="item15">Health</label>

    <input id="item16" type="checkbox" ng-model="checkboxModelPage11.value16">
    <label for="item16">Psychology/Sociology</label>

    <input id="item17" type="checkbox" ng-model="checkboxModelPage11.value17">
    <label for="item17">Hands-on classes</label>
</div>

<a ui-sref="results" class="button">Next</a>
