<div class="items">
<h2 class="done" aria-hidden="true">Activities that describe me</h2>

    <input id="item1" type="checkbox" ng-model="checkboxModelPage5.value1">
    <label for="item1">Respect and follow rules and regulations</label>

    <input id="item2" type="checkbox" ng-model="checkboxModelPage5.value2">
    <label for="item2">Physical activity and exercise</label>

    <input id="item3" type="checkbox" ng-model="checkboxModelPage5.value3">
    <label for="item3">Respond quickly and calmly in emergencies</label>

    <input id="item4" type="checkbox" ng-model="checkboxModelPage5.value4">
    <label for="item4">Interact with other people</label>

    <input id="item5" type="checkbox" ng-model="checkboxModelPage5.value5">
    <label for="item5">Face-to-face discussions with people</label>

    <input id="item6" type="checkbox" ng-model="checkboxModelPage5.value6">
    <label for="item6">Be in positions of authority</label>

    <input id="item7" type="checkbox" ng-model="checkboxModelPage5.value7">
    <label for="item7">Work under pressure or in the face of danger</label>

<h2 class="undone" aria-hidden="true">Qualities that describe me</h2>

    <input id="item8" type="checkbox" ng-model="checkboxModelPage5.value8">
    <label for="item8">Adventurous</label>

    <input id="item9" type="checkbox" ng-model="checkboxModelPage5.value9">
    <label for="item9">Dependable</label>

    <input id="item10" type="checkbox" ng-model="checkboxModelPage5.value10">
    <label for="item10">Hands on</label>

    <input id="item11" type="checkbox" ng-model="checkboxModelPage5.value11">
    <label for="item11">Self-Control</label>

    <input id="item12" type="checkbox" ng-model="checkboxModelPage5.value12">
    <label for="item12">Non-judgemental</label>

 <h2 class="undone" aria-hidden="true">Topics enjoyed in school</h2>

    <input id="item13" type="checkbox" ng-model="checkboxModelPage5.value13">
    <label for="item13">Government</label>

    <input id="item14" type="checkbox" ng-model="checkboxModelPage5.value14">
    <label for="item14">Psychology/Sociology</label>

    <input id="item15" type="checkbox" ng-model="checkboxModelPage5.value15">
    <label for="item15">Law Enforcement</label>

    <input id="item16" type="checkbox" ng-model="checkboxModelPage5.value16">
    <label for="item16">Law</label>

    <input id="item17" type="checkbox" ng-model="checkboxModelPage5.value17">
    <label for="item17">Criminal Justice</label>
</div>

<a ui-sref="page6" class="button">Next</a>
